.card-container {
    rotate: -5.84deg;
    position: relative;
    width: 395px;
    height: 249.9px;
    perspective: 1000px;
    /* Gives the 3D effect */
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 400px;
        height: 250px;
    }
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 0.8s ease-in-out;
    transform-style: preserve-3d;
    /* Preserves the 3D effect */
    border-radius: 18px;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Hides the back side when flipping */
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-front {
    background: linear-gradient(135deg,
            rgb(238, 237, 90) 10%,
            rgb(234, 200, 57),
            rgb(234, 200, 57),
            rgb(221, 254, 120) 90%);
}

.card-back {
    background: linear-gradient(135deg,
            rgb(120, 220, 254) 10%,
            rgb(57, 200, 234),
            rgb(57, 200, 234),
            rgb(120, 237, 238) 90%);
    transform: rotateY(180deg);
    /* Initially hide the back side */
}

.card-container:hover .card {
    transform: rotateY(180deg);
    /* Flip the card on hover */
}

@media (max-width: 768px) {
    .card-container {
        width: 167.68px;
        height: 106.08px;
    }
}